tests.compose:
  stage: test
  image: docker:25.0-git
  needs: []
  services:
    - docker:25.0-dind
  script:
    - docker compose pull -q
    - docker compose build -q
    - docker compose up -d
    - sleep 10
    - |
      if docker compose ps --all --filter status=exited 2>/dev/null | grep -q "Exit"; then
        echo "Error: Not all containers are running" >&2;
        docker compose ps --all;
        docker compose down;
        exit 1;
      else
        echo "All containers are running.";
      fi
