tests.compose:
  stage: test
  image: docker:25.0-git
  services:
    - docker:25.0-dind
  variables:
    POSTGRES_USER: test_user
    POSTGRES_PASSWORD: test_password
    POSTGRES_DB: test_db
  before_script:
    - docker compose version
  script:
    - docker compose -f docker-compose.yml -f docker-compose.test.yml build --no-cache
    - docker compose -f docker-compose.yml -f docker-compose.test.yml up -d db --wait

    - docker compose -f docker-compose.yml -f docker-compose.test.yml run --name backend_test backend pytest --junitxml=report.xml
    - docker cp backend_test:/app/report.xml ./backend-report.xml

    - docker compose -f docker-compose.yml -f docker-compose.test.yml run --name frontend_test frontend npm run test:ci
    - docker cp frontend_test:/app/junit.xml ./frontend-junit.xml

  after_script:
    - docker compose -f docker-compose.yml -f docker-compose.test.yml down -v
  artifacts:
    when: always
    paths:
      - backend-report.xml
      - frontend-junit.xml
    reports:
      junit:
        - backend-report.xml
        - frontend-junit.xml

ruff.backend:
  stage: test
  image: python:3.12.9-slim
  before_script:
    - pip install ruff
  script:
    - ruff check backend/
  allow_failure: false
