tests.compose:
  stage: test
  image: docker:25.0-git
  services:
    - docker:25.0-dind
  variables:
    POSTGRES_USER: test_user
    POSTGRES_PASSWORD: test_password
    POSTGRES_DB: test_db
  before_script:
    - docker compose version
  script:
    - docker compose -f docker-compose.yml -f docker-compose.test.yml build
    - docker compose -f docker-compose.yml -f docker-compose.test.yml up -d --wait
    - docker compose -f docker-compose.yml -f docker-compose.test.yml run --rm backend pytest --junitxml=report.xml
  after_script:
    - docker compose -f docker-compose.yml -f docker-compose.test.yml down -v
  artifacts:
    when: always
    reports:
      junit: report.xml
