/* Auth Pages - gradient background  */
.auth-page-bg {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/* Disable text selection */
/* body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Allow text selection in input fields */
/* input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
} */
